@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "_montreal_d58f00_1";
  src: url(./fonts/772d87814c6d4363-s.p.ttf);
}
@font-face {
  font-family: "_montreal_d58f00_2";
  src: url(./fonts/77884a8189c63c95-s.p.ttf);
}
@font-face {
  font-family: "_montreal_d58f00_3";
  src: url(./fonts/a02a323226559df3-s.p.ttf);
}

body {
  background-color: #e8e8e3;
  position: relative;
  overflow-x: hidden;
}
nav {
  font-family: "_montreal_d58f00_1";
}
.mobileNav {
  font-family: "_montreal_d58f00_1";
}

.button {
  display: block;
  margin: 0rem auto;
  padding: 20px 30px;
  border-radius: 100px;
  background-color: crimson;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.3;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #923d88;
  border-radius: 100px;
  transform: scale(0.5);
  transform-origin: bottom;
}
.background::after {
  content: "BOOK A CALL";
}

.copy {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  border-radius: 100px;
  background-color: #923d88;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #e8e8e3;
  padding: 20px 36px;
  font-size: 16px;
}
.childspan1 {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: block;
  /* overflow: hidden; */
}
.childspan2 {
  display: block;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: lawngreen;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.copy:hover {
  transform: translateY(0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.childspan3{
  position: relative;
  z-index: 10; 
  display: block;
  overflow: hidden;
  transition: all;
}
.childspan4{
  display: block; 
}
.childspan4::after{
  position: absolute;
  left: 0;
  display: block;
  transform: translateY(0);
  transition: all; 
  transition-duration: 500ms;
  transition-timing-function:  cubic-bezier(0.16, 1, 0.3, 1);
  content: attr(after);
}
.copy:hover::after{
  transform: translateY(-100%);
}


.ease-expo{
  transition-timing-function:  cubic-bezier(0.16, 1, 0.3, 1);
}