@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "_montreal_d58f00_1";
  src: url(./fonts/772d87814c6d4363-s.p.ttf);
}
@font-face {
  font-family: "_montreal_d58f00_2";
  src: url(./fonts/77884a8189c63c95-s.p.ttf);
}
@font-face {
  font-family: "_montreal_d58f00_3";
  src: url(./fonts/a02a323226559df3-s.p.ttf);
}

body {
  background-color: #e8e8e3;
  position: relative;
  overflow-x: hidden;
}
nav {
  font-family: "_montreal_d58f00_1";
}
.mobileNav {
  font-family: "_montreal_d58f00_1";
}



